.wrapper {
  background: var(--lesson-card-background);
  border-radius: var(--small);
  padding: var(--large) var(--medium);
  margin-bottom: var(--medium);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.complete {
  font-size: 10px;
  color: var(--primary);
  font-weight: 600;
  opacity: 0.6;
  letter-spacing: 0.01rem;
}

.number {
  opacity: 0.4;
  margin-right: var(--tiny);
}
