.loader {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: var(--tiny);
  background-color: var(--accent200);
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.inner:before {
  content: '';
  position: absolute;
  height: 100%;
  background-color: var(--accent500);
  animation: loader_one 1.25s infinite ease-in-out;
}

@keyframes loader_one {
  0% {
    left: -100%;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 10%;
  }
}
