.wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  background: #ededed;
  overflow: hidden;
  height: 100%;
  transform: translateX(0%);
  transition: transform 5s ease-in;
  border: 1px solid #ccc;
  border-left: none;
  padding: var(--normal);
  z-index: 9999;
}

.closed {
  transform: translateX(-100%);
}
