.content {
  margin: var(--large) auto;
  max-width: 35em;
  max-width: 65ch;

  p {
    line-height: 1.75;
    margin-bottom: var(--medium);

    @media screen and (min-width: 600px) {
      line-height: 2;
    }
  }
}

.button_bar {
  display: flex;
  justify-content: space-between;
}

.single {
  justify-content: flex-end;
}
