.wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-gap: var(--tiny);
}

.progress {
  border: 1px solid var(--grey300);
  border-radius: var(--small);
  overflow: hidden;
  height: 10px;
}

.bar {
  height: 10px;
  background: var(--success600);
}

.percent {
  font-size: var(--font-tiny);
  color: var(--grey500);
}
