.wrapper {
  margin: 0 auto;
  max-width: 35em;
  max-width: 75ch;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--large);

  @media screen and (min-width: 500px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.section {
  margin-bottom: var(--large);
}
