.wrapper {
}

.content {
  margin: var(--large) auto;
  max-width: 35em;
  max-width: 65ch;
  color: #222;

  p {
    line-height: 1.75;
    margin-bottom: var(--medium);

    @media screen and (min-width: 600px) {
      line-height: 2;
    }
  }
}

.nav {
  display: flex;
  justify-content: flex-start;
  margin-bottom: var(--large);
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: var(--large);
}

.read_time {
  color: var(--accent700);
  font-weight: 500;
  letter-spacing: 0.01em;
}
