.wrapper {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: var(--medium);
  background: white;
  border-radius: var(--small);
  padding: var(--large) var(--medium);
  margin-bottom: var(--large);
  font-weight: 500;
  box-shadow: var(--shadow100);
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: var(--medium);
}

.lesson {
  font-size: 12px;
  margin: 0;
  color: var(--grey400);
  margin-bottom: var(--small);
}

.read {
  color: var(--accent500);
  font-size: var(--font-tiny);
}
