.wrapper {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: var(--medium);
  background: white;
  border-radius: var(--border-radius);
  padding: var(--large) var(--medium);
  margin-bottom: var(--jumbo);
  font-weight: 500;
  box-shadow: var(--shadow100);
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: var(--medium);
}

.lesson {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
  margin: 0;
  color: var(--grey400);
  margin-bottom: var(--small);
}

.track {
  // padding: 3px 5px;
  // border-radius: var(--small);
  // border: 1.5px solid var(--accent600);
  // background: var(--accent100);
  margin-right: var(--tiny);
  color: var(--accent600);
  font-weight: 600;
}

.read {
  color: var(--accent500);
  font-size: var(--font-tiny);
}
