.wrapper {
  cursor: pointer;
}

.background {
  background: var(--primary100);
  padding: 8px;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  display: grid;
  place-content: center;
}

.readonly {
  cursor: auto;
}
