.button {
  background: var(--primary500);
  border: none;
  color: var(--button-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--tiny);
  font-size: var(--button-font-size);
  font-weight: 500;
  padding: 8px 16px;
  box-shadow: var(--shadow200);
  cursor: pointer;

  &:active {
    background: var(--primary600);
    box-shadow: var(--shadow200);
  }

  &:hover {
    background: var(--primary400);
  }

  &:visited {
    background: var(--primary500);
  }

  &:disabled {
    background: var(--grey300);
    cursor: default;
  }
}

.alternate {
  background: transparent;
  color: var(--accent600);
  box-shadow: none;
  padding: 8px 0;

  &:active {
    background: transparent;
  }

  &:hover {
    background: transparent;
    color: var(--accent500);
  }

  &:visited {
    background: transparent;
  }
}

.warning {
  background: var(--error600);

  &:hover {
    background: var(--error500);
  }

  &:active {
    background: var(--error600);
  }
}

.disabled {
  pointer-events: none;
}
