.button {
  background: var(--primary500);
  border: none;
  color: var(--button-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--tiny);
  font-size: var(--button-font-size);
  font-weight: 500;
  padding: 8px 10px;
  box-shadow: var(--shadow200);
  cursor: pointer;

  &:active {
    background: var(--primary600);
    box-shadow: var(--shadow200);
  }

  &:hover {
    background: var(--primary400);
  }

  &:visited {
    background: var(--primary500);
  }
}

.alternate {
  background: transparent;
  color: #222;
  box-shadow: none;

  &:active {
    background: transparent;
  }

  &:hover {
    background: transparent;
    color: var(--button-hover);
  }

  &:visited {
    background: transparent;
  }
}
