:root {
  --primary: hsl(215, 82%, 55%);
  --highlight: hsl(215, 82%, 96%);
  --background: hsl(231, 64%, 98%);
  --button-color: #fff;
  --button-active: #4185bd;
  --button-hover: #1171c0;
  --button-visited: #4185bd;
  --lesson-card-background: #fff;
  --track-card-background: #fff;
  --icon-color: hsl(213, 42%, 5%);

  --grey100: hsl(208, 21%, 93%);
  --grey200: hsl(210, 18%, 85%);
  --grey300: hsl(208, 16%, 76%);
  --grey400: hsl(208, 16%, 67%);
  --grey500: hsl(208, 15%, 60%);
  --grey600: hsl(209, 14%, 50%);
  --grey700: hsl(209, 13%, 44%);
  --grey800: hsl(209, 15%, 34%);
  --grey900: hsl(209, 15%, 28%);

  --primary100: hsl(200, 70%, 93%);
  --primary200: hsl(212, 60%, 82%);
  --primary300: hsl(212, 50%, 72%);
  --primary400: hsl(212, 50%, 61%);
  --primary500: hsl(212, 50%, 50%);
  --primary600: hsl(212, 50%, 42%);
  --primary700: hsl(215, 50%, 34%);
  --primary800: hsl(210, 50%, 21%);
  --primary900: hsl(212, 50%, 18%);

  --accent100: hsl(180, 70%, 93%);
  --accent200: hsl(180, 60%, 82%);
  --accent300: hsl(180, 50%, 72%);
  --accent400: hsl(180, 50%, 61%);
  --accent500: hsl(180, 50%, 50%);
  --accent600: hsl(180, 50%, 42%);
  --accent700: hsl(180, 50%, 34%);
  --accent800: hsl(180, 50%, 21%);
  --accent900: hsl(180, 50%, 18%);

  --red100: hsl(0, 70%, 95%);
  --red200: hsl(0, 70%, 82%);
  --red300: hsl(0, 60%, 72%);
  --red400: hsl(0, 60%, 61%);
  --red500: hsl(0, 60%, 50%);
  --red600: hsl(0, 60%, 42%);
  --red700: hsl(0, 60%, 34%);
  --red800: hsl(0, 60%, 21%);
  --red900: hsl(0, 60%, 18%);
}
