:root {
  --primary: hsl(215, 82%, 55%);
  --highlight: hsl(215, 82%, 96%);
  --background: hsl(231, 64%, 98%);
  --button-color: #fff;
  --button-active: #4185bd;
  --button-hover: #1171c0;
  --button-visited: #4185bd;
  --lesson-card-background: #fff;
  --icon-color: hsl(213, 42%, 5%);
}
