:root {
  --shadow-color: hsla(0, 0%, 0%, 0.1);
  --shadow100: 0px 4px 8px -5px var(--shadow-color);
  --shadow200: 0 4px 6px -5px var(--shadow-color);
  --shadow300: 0 5px 15px -5px var(--shadow-color);
  --shadow400: 0 10px 24px -5px var(--shadow-color);
  --shadow500: 0 15px 35px -5px var(--shadow-color);
  --shadow600: 0 0.3px 2.6px rgba(0, 0, 0, 0.016),
    0 0.9px 8.7px rgba(0, 0, 0, 0.024), 0 4px 39px rgba(0, 0, 0, 0.04);
}
