.content {
  color: #222;
  margin-top: 1rem;

  p {
    line-height: 1.75;
    margin-bottom: var(--medium);

    @media screen and (min-width: 600px) {
      line-height: 2;
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message {
  border: 2px solid var(--error300);
  background: var(--error100);
  color: var(--error900);
  padding: var(--jumbo) var(--large);
  border-radius: var(--border-radius);
  margin: var(--large) 0;
}
