.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-gap: var(--normal);
  background: var(--track-card-background);
  border-radius: var(--small);
  padding: var(--medium);
  box-shadow: var(--shadow100);
  cursor: pointer;
}

.title {
  margin-top: 0;
  margin-bottom: var(--tiny);
  color: var(--primary600);
  font-weight: 600;
}

.lessons {
  margin-top: 0;
  margin-bottom: var(--tiny);
  color: var(--accent500);
  font-size: var(--font-tiny);
  font-weight: 500;
}

.highlight {
  margin: 0;
  color: var(--grey400);
  font-size: var(--font-tiny);
}
