.wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  overflow: hidden;
  height: 66%;
  transform: translateY(0%);
  transition: transform 175ms ease-in;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 16px 16px 0 0;
}

.closed {
  transform: translateY(100%);
}
