.wrapper {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  overflow: hidden;
  height: 66%;
  transform: translateY(0%);
  transition: transform 175ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 16px 16px 0 0;
  padding: var(--normal);
}

.closed {
  position: fixed;
  transform: translateY(100%);
}
